.app {
  width: 960px;
  margin: 0 auto;
  color: #222222;
  font-size: 16px;
  margin-top: 24px;
  section {
    padding: 12px;
    background-color: #eee;
    margin-bottom: 24px;
    .title {
      color: #222222;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
    }
  }
  ul {
    li {
      margin: 12px 6px;
    }
  }

}